@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&family=Poppins:wght@600&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

*{
    margin: 0;
    padding: 0;
}

.text-purple {
    color: #AC58F5;
}

.text-white {
    color: #F8FBFE;
}

.bg-purple {
    background-color: #AC58F5;
}

.navbar-principal {
    font-family:'Poppins', sans-serif;

}

.btn-1 {
    background-color: #F8FBFE;
    color: #AC58F5;
}

.btn-2 {
    background-color: #AC58F5;
    color: #F8FBFE;
}

.text-h1, .text-h2 {
    font-family: 'Merriweather', serif;
}

.text-h6 {
    font-family: 'Poppins', sans-serif;
    color: #AC58F5;
}

.slide-4 {
    background-color: #A3A8AE;
}

.card-title {
    font-family: 'Poppins';
    padding: auto;
}

.testimonials {
    padding: 40px 0;
    text-align: center;
    background-color: #F8FBFE;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background-color: #AC58F5;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background-color: #F8FBFE;
    padding: 30px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nome {
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
}

.localizacao {
    margin: 10px 0;
}

@media screen and (max-width: 960px) {
.col {
    flex: 100%;
    max-width: 80%;
}
}

@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
    }